body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.header-logo {
  height: 40px;
}

.headerform-logo {
  display: block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.home-icon {
  width: 32px;
  height: auto;        
}

.logo-icon {
  width: 90px;
  height: auto;
}

.product {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.cake-banner {
  background-color: #D40017;  /* Red background */
  width:30%;           
}

.topcontainer {
      height: 80px;              /* Full height of viewport */
      background-color: #D40017;  /* Red background or any color */
}

/* Swiper Container */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #D40017;
}

/* Each Slide */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px; /* Rectangle height */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

/* Image Styling */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0; /* No rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}